.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  button {
    background-color: #222;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
  }
  
  button:hover,
  button:focus {
    opacity: 0.75;
  }
  